{% extends 'others/layout.html.twig' %}

{% block content %}
	<style>
		li{
			margin-bottom: 15px;
		}
	</style>
	<div class="container" style="margin-bottom: 112px; ">
		<h3 class="center-align">Conception et développement de macros Microsoft Office</h3>
		<ul class="sites">
			<h6 style="font-weight: 501; ">La conception de macros VBA est la première activité de développement informatique
			que j'ai pratiquée, depuis maintenant plus de 5 ans. Voici les grands types de macros que j'ai développées:</h6>
			<li>Compilation des fichiers du répertoire choisi par l'utilisateur de la macro.</li>
			<li>Préparation de données en vue de leur importation dans la base de données d'un site.</li>
			<li>Sauvegarde en PDF de tous les documents Word produit par un publipostage.</li>
			<li>Interface utilisateur (userform) permettant de retouver des agents selon leur localisation et leurs compétences, 
			avec une partie administration accéssible par mot de passe permettant de gérer les agents et leurs compétences.</li>
		</ul>
	</div>

	<script>
		$('document').ready(function(){
			
		});
	</script>
{% endblock %}