{% extends 'others/layout.html.twig' %}

{% block content %}
	<link rel="stylesheet" href="/css_cntl">
	
	<div class="cntl" style="margin-top: 10px; ">
		<span class="cntl-bar cntl-center">
			<span class="cntl-bar-fill"></span>
		</span>

		<div class="cntl-states">
			<div class="cntl-state">
				<div class="cntl-content">
					<h4>La reconversion</h4>
					<p class="justify">
						Ne trouvant que peu d'emploi dans la filière forestière j'envisage une nouvelle activité.
						Après un bilan de compétences réalisé avec Pôle Emploi, il s'avère que l'informatique, tant
						par son côté rationel que créatif, apparait comme mon activité de prédilection.						
					</p>
				</div>
				
				<div class="cntl-image"><img src="/img_reconv"></div>
				<div class="cntl-icon cntl-center" style="font-size: 22px; ">'2010</div>
			</div>

			<div class="cntl-state">
				<div class="cntl-content">
					<h4>Formation Réseaux Informatiques</h4>
					<p class="justify">
						Conseillé par Pôle Emploi, je réalise avec succès une formation AFPA en réseaux  informatique : 
						J'y apprends notamment la mise en place matériel et logiciel d'un réseau local (LAN), la gestion
						des droits utilisateurs avec un annuaire de type LAPD,  la sécurisation et la virtualisation. 
						<i>
							Aujourd'hui ces connaissances me sont utiles surtout pour la configuration des serveurs web
							sur lesquelles j'installe les sites que je développe.
						</i>
					</p>
				</div>

				<div class="cntl-image"><img src="/img_reseau"></div>
				<div class="cntl-icon cntl-center" style="font-size: 22px; ">'2011</div>
			</div>

			<div class="cntl-state">
				<div class="cntl-content">
					<h4>Formation Développement Informatique</h4>
					<p class="justify">
						Après avoir développé une application Excel de gestion de stock pour un ami,
						je réalise que c'est ce domaine de l'informatique que je souhaite pratiquer professionnellement.
						Je réussis une formation AFPA où j'apprend le développement d'applications web d'entreprises,
						en utilisant le langage JAVA, afin de connaître les mécanismes de la programmation orientée objets
						(création et utilisation de classes, héritage...).
					</p>
				</div>

				<div class="cntl-image"><img src="/img_java"></div>
				<div class="cntl-icon cntl-center" style="font-size: 22px; ">'2012</div>
			</div>

			<div class="cntl-state">
				<div class="cntl-content">
					<h4>Développement d'applications en Visual Basic pour Applications</h4>
					<p class="justify">
						Trouver un stage de fin de formation en JAVA se révélant difficile, je fini l'année sur un stage en
						informatique décisionnelle (B.I.), avec le langage VBA. Ce qui expliquera par la suite une orientation professionnelle
						où je serai amené à réaliser des missions intérims uniquement avec ce langage.
						Outre la réalisation de macros, j'y ai appris la conception d'interface utilisateur (userform) en lien avec une
						source de données, depuis l'étude voire la réalisation d'un cahier des charges.
					</p>
				</div>

				<div class="cntl-image"><img src="/img_vbafun"></div>
				<div class="cntl-icon cntl-center" style="font-size: 22px; ">'2013</div>
			</div>

			<div class="cntl-state">
				<div class="cntl-content">
					<h4>Formation Développeur Web</h4>
					<p class="justify">
						Formation courte (2 mois), mais efficace.
						Désirant varier  et compléter mon activité, je réussis les tests d'entrée pour une formation
						de 2 mois à l'École Centrale de Nantes, formation centrée sur le développement en équipe
						avec la plateforme Gitlab, d'un site web sous Symfony.
					</p>
				</div>

				<div class="cntl-image"><img src="/img_dev"></div>
				<div class="cntl-icon cntl-center" style="font-size: 22px; ">'2016</div>
			</div>
			
			<div class="cntl-state">
				<div class="cntl-content">
					<h4>Plus de 2 ans comme développeur  PHP fullstack pour ENEDIS</h4>
					<p class="justify">
						D'abord 18 mois pour la base de Saintes, pour laquelle j'ai travaillé en collaboration directe avec les agents,
						afin de leur apporter les outils nécessaires à leur activité :
						<ul class="sites">
							<li>Un site web de suivi de l'évolution de l'avancement des chantiers.</li>
							<li>Un site web de visualisation du budget annuelle d'ENEDIS.</li>
							<li>Un site web d'historisation des appels d'urgence.</li>
							<li>Un grand nombre de macros de toutes sortent, aussi bien des tâches ponctuelles que des projets avec cahier des charges.</li>
							<li>Un grand nombre de robots, par exemple pour l'import automatique des données des sites web que j'ai développés.</li>
						</ul>
					</p>
					<p class="justify">
						Ensuite 9 mois pour la base de la Rochelle, ma mission ayant cette fois-ci un but plus spécifique, c'est à dire la
						sécurisation des sites que j'avais déjà développé à Saintes, mais aussi le développement  et la sécurisation 
						d'un nouveau site proposant une gestion prévisionnelle des emplois et des compétences (GPEC) 
						plus fine que celle du logiciel en place.
						Cette sécurisation fait suite à la nouvelle directive Européenne sur la sécurité informatique, 
						le Règlement général sur la protection des données.
					</p>
					<p class="justify">
						Je connais donc les processus de mise en conformité des sites webs au RGPD, 
						comme par exemple la caractérisation du niveau de sécurité exigé par les données selon leur type (personnel, commercial...).
					</p>
				</div>

				<div class="cntl-image"><img src="/img_fullstack"></div>
				<div class="cntl-icon cntl-center" style="font-size: 22px; ">'NOW</div>
			</div>

		</div>
	</div>
	
	<script src="/js_cntl"></script>
	<script>
	$('.cntl').cntl({
		revealbefore: 300,
		anim_class: 'cntl-animate',
		onreveal: null
	});
		$('document').ready(function(){
			$('.cntl').cntl({
				revealbefore: 300,
				anim_class: 'cntl-animate',
				onreveal: null
			});
		});
	</script>
{% endblock %}